cachier
defopt
deepeval
faiss-cpu
gradio
langchain
langchain-community
langchain-openai
notebook
numpy
pandas
pdf2image
pdfplumber
pillow
pyyaml
python-bidi
pymupdf
pytesseract
rich
sentence-transformers
torch
tqdm
unstructured
unstructured-inference
pi-heif
unstructured-pytesseract
unstructured[pytesseract]
requests